@import '~iview/src/styles/index.less';

// Here are the variables to cover, such as:
@primary-color: #8c0776;
.ivu-layout-header {
    background: #8c0776;
    padding: 0 50px;
    height: 64px;
    line-height: 64px;
    margin-bottom: 10px;
}
.fl{ float:left}
.fr{ float:right}
.clearflt{ clear:both}
.w1224 {
	width: 1224px;
	margin: 0 auto
}
.w1008{
	width: 1008px;
	margin: 0 auto
}